<!-- About -->
<section id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">About</h2>
              <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
                  <p>
                      We are a group of faculty, graduate and undergraduate students conducting research in the broad area of human-computer interaction (HCI). We are based in the Faculty of Computer Science at the University of New Brunswick, Fredericton, Canada.
                  </p>
                  <p>
                      We perform research in human-robot interaction, mixed reality, novel interactions, and game design. Our work often targets applications in health and therapy (e.g., rehab, training), and collaboration for work and play. Learn more by seeing our projects.
                  </p>
          </div>
          <div class="col-lg-12">
                  <h4 class="service-heading">Industrial Research and Development Collaborations</h4>
                  <p>
                      We have completed a wide-range of collaborations with industrial partners in areas related to augmented/mixed reality, human-robot interactions, web and mobile technologies, visual analytics, and gamification. We target partnerships with regional, national and international corporations that are looking for proof-of-concept or early demonstrations of technology. Typically our research contracts are funded (up to 100%) through funding agencies (NSERC, NBIF, MITACS, NRC, ACOA). Please <a href="#contact">contact us</a> if you would like to learn more about collaboration possibilities.
                  </p>
          </div>
      </div>
      <div class="row">
          <br /><br />
          <h4 class="section-subheading text-muted text-center">Our work is supported by...</h4>

          <div class="col-md-6 col-sm-6">
              <a href="http://www.nserc-crsng.gc.ca/index_eng.asp">
                  <img src="img/logos/nserc.jpg" class="img-responsive img-centered support-logo" alt="nserc">
              </a>
          </div>

          <div class="col-md-6 col-sm-6 support-logo">
              <a href="http://nbif.ca/en">
                  <img src="img/logos/nbif.png" class="img-responsive img-centered support-logo" alt="nbif">
              </a>
          </div>

      </div>
          <!--
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">E-Commerce</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Responsive Design</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Web Security</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
      -->
      </div>
  </div>
</section>
<!-- End About -->