<!-- Contact -->
<section id="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Contact Us</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3 col-md-offset-1" style="color: white">
              <p>email: <a href="mailto: {{ site.email }}">{{ site.email }}</a></p>

              <p>phone: +1 (506) 447-3336</p>

              <p>Scott Bateman and/or Daniel Rea<br />
              UNB HCI Lab<br />
              Faculty of Computer Science<br />
              550 Windsor Street<br />
              Fredericton, NB<br />
              E3B 5A3</p>
          </div>

          <div class="col-lg-6">
              <div class="google-maps">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5946.692978588098!2d-66.64340701807443!3d45.94669933048932!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x64f17146ff9984f2!2sFaculty+of+Computer+Science!5e0!3m2!1sen!2sca!4v1492877843066" frameborder="0" style="border:0; width: inherit; height: inherit" allowfullscreen></iframe>
              </div>
          </div>

      </div>
  </div>
</section>
<!-- End Contact -->
