  <!-- Footer -->
  <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; UNB HCI Lab 2020</span>
            </div>

            <div class="col-md-8 text-right">
                <ul class="list-inline quicklinks">
                    <li><a href="http://www.cs.unb.ca">Faculty of Computer Science</a>
                    </li>
                    <li>-</li>
                    <li><a href="http://www.unb.ca">University of New Brunswick</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
  <!-- End Footer -->