  <!-- Footer -->
  
  <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; UNB HCI Lab 2020</span>
            </div>

            <div class="col-md-8 text-right">
                <ul class="list-inline quicklinks">
                    <li><a href="http://www.cs.unb.ca">Faculty of Computer Science</a>
                    </li>
                    <li>-</li>
                    <li><a href="http://www.unb.ca">University of New Brunswick</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
  <!-- End Footer -->

       <!-- jQuery Version 1.11.0 -->
       <script src="js/jquery-1.11.0.js"></script>

       <!-- Bootstrap Core JavaScript -->
       <script src="js/bootstrap.min.js"></script>
   
       <!-- Plugin JavaScript -->
       <script src="js/jquery.easing.min.js"></script>
       <script src="js/classie.js"></script>
       <script src="js/cbpAnimatedHeader.js"></script>
   
       <!-- Contact Form JavaScript -->
       <script src="js/jqBootstrapValidation.js"></script>
       <script src="js/contact_me.js"></script>
   
       <!-- Custom Theme JavaScript -->
       <script src="js/agency.js"></script>
   