<!-- Portfolio Modals -->

{% for project in site.projects %}
{% if project.display %}
 <div class="portfolio-modal modal fade" id="{{"portfolioModal" | append: project.id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body" align="center">
                      <h2>{{project.caption}}</h2>
                      <hr class="star-primary">

                      <p></p>
						  {% for item in project.modal %}
                          <h3>{{item.details}}</h3>
                          <iframe width="400" height="225" src="{{item.iframe.url}}" frameborder="0" allowfullscreen></iframe>
                          <br /><br />
						  {% endfor %}
                      <br /><br /><br /><br />
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endif %}
{% endfor %}

<!--{% for project in site.portfolio %}
  <div class="portfolio-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">{{ project.title }}</h2>
                <p class="item-intro text-muted">{{ project.subtitle }}</p>
                <img class="img-fluid d-block mx-auto" src="{{ project.image }}" alt="{{ project.alt }}">
				<p>{{ project.content }}</p>		
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  {{ site.data.sitetext[site.locale].portfolio.closebutton | default: "Close Project" }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}!-->
<!-- End Portfolio Modals -->