<!-- Portfolio Grid -->	
    <section id="projects" class="bg-light-gray">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Projects</h2>
                  <h3 class="section-subheading text-muted">These are some topics that we have currently been exploring, see <a href="#publications">publications</a> for a more complete listing.</h3>
              </div>
          </div>
          <div class="row">
		      {% for project in site.projects %}
              {% if project.display %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="{{"#portfolioModal" | append: project.id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ project.image }}" class="img-responsive img-centered" alt="{{project.caption}}">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{project.caption}}</h4>
                        <p class="text-muted">{{project.description}}</p>
                    </div>
                </div>
                {% endif %}
		      {% endfor %}
          </div>
      </div>
  </section>
{% include modals.html %}