<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">

  	{% include head.html %}

	<body id="page-top" class="index">
		{% include nav.html %}
		<!-- Head graphic-->
		<header>
			<div class="container">
				<div class="intro-text">
					<div class="intro-lead-in">Faculty of Computer Science</div>
					<div class="intro-heading">Human-Computer Interaction Lab</div>
					<a href="#about" class="page-scroll btn btn-xl">Learn more</a>
				</div>
			</div>
		</header>


		<!-- Services Section -->
		{% include about.html %}

		<!-- Portfolio Grid Section -->
		{% include portfolio_grid.html %}

		<!-- Team Section -->
		{% include team.html %}

		<!-- Contact Section -->
		{% include contact.html %}

		<!-- Footer -->
		{% include footer.html %}


			<!-- jQuery Version 1.11.0 -->
		<script src="js/jquery-1.11.0.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.min.js"></script>

		<!-- Plugin JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/cbpAnimatedHeader.js"></script>

		<!-- Contact Form JavaScript -->
		<script src="js/jqBootstrapValidation.js"></script>
		<script src="js/contact_me.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="js/agency.js"></script>

 	</body>
</html>